<!doctype html>
<html>
    <head>
        <title>Express Yourself!</title>
    </head>
    <body>
            <div style='float: right'>
                    {% if 'user' in session %}
                      {{ session['user'] }}
                      <form action="/logout" method="post" id='logout'>
                        <input type="submit" value="Log Out" />
                      </form>
                    {% else %}
                      <a href="login">login</a> | <a href="signup">signup</a>
                    {% endif %}
                  </div>
                  <h1>
                      Express Yourself!
                  </h1>
            <a href="/">Home</a> <a href="/blog">All Posts</a> <a href="/newpost">New Post</a>
        {% block content %}
        
        {% endblock %}
    </body>
</html>